@charset "UTF-8";
body {
  overflow-x: hidden; }

.h1 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-shadow: 1px 2px 3px #8a8a8a; }

h2, h3 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 1px #8a8a8a; }

p, .lista {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: #5e5e5e; }

section {
  padding-top: 2.5rem;
  padding-bottom: 2.2rem; }

/* NAVBAR ESTILO */
.navbar {
  background-color: rgba(20, 20, 20, 0.85) !important; }

.navbar-dark ul {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem; }
  .navbar-dark ul .nav-item .nav-link {
    color: #d4d4d4; }
    .navbar-dark ul .nav-item .nav-link.active {
      color: #ecbf44; }
    .navbar-dark ul .nav-item .nav-link:hover {
      color: #dab142; }

.navbar-dark .redesSoc .mdi-instagram, .navbar-dark .redesSoc .mdi-facebook {
  color: #cccccc;
  text-shadow: 1px 1px 1px #838383;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 0 0.3rem; }

.navbar-dark .redesSoc button .mdi-whatsapp {
  font-size: 1.05rem; }

/* OFFSET */
.offset {
  position: relative; }
  .offset > .ancla {
    position: absolute;
    top: -10rem;
    left: 0;
    display: block; }

/* HEADING UNDERLINE  */
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #777777;
  margin: 3rem auto 2rem; }

/* HEADER CAROUSEL */
#carousel {
  background: #121212;
  background: linear-gradient(180deg, #121212 0%, rgba(110, 109, 109, 0.717525) 53%, #c3c1c1 100%);
  padding-top: 8.5rem; }
  #carousel .carouselText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    #carousel .carouselText h2 {
      position: absolute;
      margin: auto 20%;
      bottom: 2.3rem;
      left: 0;
      right: 0;
      color: #f5f3f3;
      background-color: rgba(114, 114, 114, 0.6);
      font-size: 2.3rem;
      font-style: italic;
      letter-spacing: 0.2rem; }

/* QUIENES SOMOS */
#nosotros-zone {
  background-color: #dfdfdf; }

/* QUÉ COMPRAMOS*/
#compra-zone ul {
  color: #3a3a3a;
  text-shadow: 1px 1px 3px #adadad; }

/* TASACIONES */
#tasaciones-zone {
  background-color: #e7e7e7; }

/* CONTACTO */
#contacto-zone {
  background-color: #dfdfdf; }
  #contacto-zone .iconSocFb {
    background-color: #4267b2;
    padding: 16% 25%; }
    #contacto-zone .iconSocFb .mdi-facebook {
      color: #ffffff;
      text-shadow: 2px 2px 3px #080f74;
      font-size: 4.1rem; }
    #contacto-zone .iconSocFb h5 {
      color: #ffffff;
      font-family: "Lato", sans-serif;
      text-shadow: 1px 1px 1px #080f74; }
    #contacto-zone .iconSocFb:hover {
      opacity: 0.6; }
  #contacto-zone .iconSocWapp {
    background-color: #2ad42a;
    padding: 16% 25%; }
    #contacto-zone .iconSocWapp .mdi-whatsapp {
      color: #ffffff;
      text-shadow: 2px 2px 3px #147408;
      font-size: 4.1rem; }
    #contacto-zone .iconSocWapp h5 {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      text-shadow: 1px 1px 1px #147408; }
    #contacto-zone .iconSocWapp:hover {
      opacity: 0.6; }
  #contacto-zone .iconSocIg {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    padding: 16% 25%; }
    #contacto-zone .iconSocIg .mdi-instagram {
      color: #ffffff;
      text-shadow: 2px 2px 3px #740847;
      font-size: 4.1rem; }
    #contacto-zone .iconSocIg h5 {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      text-shadow: 1px 1px 1px #740847; }
    #contacto-zone .iconSocIg:hover {
      opacity: 0.6; }

/* FOOTER */
#footer {
  background-color: #222222;
  color: #ffff; }
  #footer .division-hr {
    color: #505050;
    border: 1px solid;
    width: 100%; }
  #footer .text-footer {
    font-family: "IM Fell French Canon SC", serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 1px #8a8a8a; }
  #footer .textCopyright {
    font-size: 0.8rem; }

/*------ MEDIA QUERIES ------*/
/* NAVBAR Título*/
@media (max-width: 576px) {
  .h1 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem; } }

/*--- NAVBAR ---*/
@media (max-width: 576px) {
  .navbar-dark .redesSoc a button.btn-success {
    padding: 0.3rem; }
    .navbar-dark .redesSoc a button.btn-success i.mdi-whatsapp {
      font-size: 0.9rem; } }

@media (max-width: 1025px) {
  .navbar-dark ul {
    font-size: 0.7rem; } }

/*--- CAROUSEL ---*/
@media (max-width: 1025px) and (min-width: 769px) {
  #carousel .carouselText h2 {
    font-size: 2rem;
    margin: auto 15%; } }

@media (max-width: 768px) and (min-width: 577px) {
  #carousel .carouselText h2 {
    font-size: 1.8rem;
    margin: auto 10%; } }

@media (max-width: 576px) and (min-width: 321px) {
  #carousel .carouselText h2 {
    font-size: 1rem;
    margin: auto 1%; } }

@media (max-width: 320px) {
  #carousel .carouselText h2 {
    font-size: 0.7rem;
    margin: auto 1%; } }

/*--- CONTACTO ---*/
@media (max-width: 576px) {
  #contacto-zone .iconSocFb, #contacto-zone .iconSocWapp, #contacto-zone .iconSocIg {
    padding: 7% 13%; }
    #contacto-zone .iconSocFb .mdi-facebook, #contacto-zone .iconSocFb .mdi-instagram, #contacto-zone .iconSocFb .mdi-whatsapp, #contacto-zone .iconSocWapp .mdi-facebook, #contacto-zone .iconSocWapp .mdi-instagram, #contacto-zone .iconSocWapp .mdi-whatsapp, #contacto-zone .iconSocIg .mdi-facebook, #contacto-zone .iconSocIg .mdi-instagram, #contacto-zone .iconSocIg .mdi-whatsapp {
      font-size: 2.7rem; }
    #contacto-zone .iconSocFb .titleMediaWrapper, #contacto-zone .iconSocWapp .titleMediaWrapper, #contacto-zone .iconSocIg .titleMediaWrapper {
      font-size: 1rem; } }

/*--- FOOTER ---*/
@media (max-width: 576px) {
  #footer .text-footer {
    font-size: 1.5rem; } }
